{% extends "internal/base.html" %}
{% load static %}

{% block css_js %}
    <link rel="stylesheet" href="{% static 'css/internal/statistics/left_right_content.css' %}">
    <script src="{% static 'js/lib/chart.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock %}

{% block header_name %}
    <div class="header-name">Groups statistics</div
{% endblock %}

{% block content %}
    <div class="right">
        <div id="chart-header" ></div>
        <div class="right-content">
            <canvas id="chart"></canvas>
        </div>
    </div>

    <div class="left">
        <div class="left-content">
            <div class="form-wrapper">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div>
                            {{ field }}
                        </div>
                    {% endfor %}

                    <select id="chart-type">
                        <option value="line">Line</option>
                        <option value="bar">Bar</option>
                        <option value="radar">Radar</option>
                        <option value="doughnut">Doughnut</option>
                        <option value="pie">Pie</option>
                        <option value="polarArea">Polar Area</option>
                    </select>
        
                    <div>
                        <button id="btn" class="form-btn">Go</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // datapicker widjet
        $(function () {
            $('[data-toggle="datepicker"]').datepicker({
                format:'dd/mm/yyyy',
            });
        });

        // handler of button submit
        document.getElementById("btn").addEventListener('click',function(e){
            e.preventDefault();
            sendFormAndDraw();
        }, false);

        function sendFormAndDraw() {
            const data = {
                from: document.getElementById('from').value,
                to: document.getElementById('to').value,
                group: document.getElementById('group').value,
                subject: document.getElementById('subject').value,
                user_id: "{{ user_id }}",
            };

            fetch('{% url "api-group_average" %}', {
                method:'POST',
                headers:{
                    'Content-Type':'application/json', 
                    'X-CSRFToken':'{{ csrf_token }}',
                    'X-Requested-With':'XMLHttpRequest'
                },
                body: JSON.stringify(data),
                mode:'cors',
                cache:'default',
                credentials:'include'      
            }).then((response) => response.json())
            .then((result) => {
                header = document.getElementById('chart-header')
                header.innerHTML = result['group'];
                
                chartType = getChartType();
                _drawChart(result['objects'], chartType);
            })
            .catch((err) => {
                header = document.getElementById('chart-header')
                header.innerHTML = "No data";
                console.log('error:', err)
            })
        }

        function getChartType() {
            var select = document.getElementById('chart-type');
            return select.options[select.selectedIndex].value;;
        }

        // draw function for charts
        function _drawChart(input_data, chart_type) {
            var ctx = document.getElementById('chart').getContext('2d');

            var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
            // Add three color stops
            gradientStroke.addColorStop(0, "#ff8f8f");
            gradientStroke.addColorStop(1, "#8f93ff");

            var chart = new Chart(ctx, {
                type: chart_type,

                data: {
                    labels: Array.from(input_data, x => x['date']),
                    datasets: [{
                        label: 'Average rating of the group for the period',
                        backgroundColor: gradientStroke,
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                        ],
                        data: Array.from(input_data, x => x['avg_rating']),
                    }]
                },

                options: {}
            });
        }
        
    </script>
{% endblock %}
