{% extends "internal/base.html" %}
{% load static %}

{% block header_name %}
    <div class="header-name">Estimated feedback statistics</div>
{% endblock %}

{% block content %}
    <div class="menu">
        <a href="{% url 'statistics-estimated-by-group' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/stat-group.png' %}">
            </div>
            <div class="text-button">By group</div>
        </a>

        <a href="{% url 'statistics-estimated-by-day' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/stat-day.png' %}">
            </div>
            <div class="text-button">By day</div>
        </a>
    </div>
{% endblock %}
