.sign_in_up-form-wrapper {
    display: block;
    margin: auto;
    margin-top: 5vh;
    width: 50%;
}

.sign_in_up-btn {
    background-color: #6b22d8;
    color: white;
    padding: 1.8vh 0.1vh;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
    float: right;
    font-size: 2.5vh;
}

.sign_in_up-btn:hover {
    opacity:1;
}

