.home-menu {
    display: flex;
    width: 100%;
    margin-top: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-menu-item {
    display: block;
    max-width: 350px;
    width: 20%;
    height: 30vh;
    border: 1px solid #6b22d8;
    border-radius: 5px;
    text-align: center;
    padding: 1vh;
}

.home-menu-item-header {
    font-size: 4vh;
    margin-top: 4vh;
}

.home-menu-item-text {
    font-size: 2vh;
    opacity: 0.7;
    margin-top: 4vh;
}