.profile-wrapper {
    display: flex;
    margin: auto;
    margin-top: 5vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.profile-avatar-wrapper {
    display: flex;
    justify-content: center;
}

.profile-avatar-wrapper img {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info-wrapper {
    display: flex;
    margin: auto;
    margin-top: 2vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.profile-button-wrapper {
    display: flex;
    margin: auto;
    margin-top: 2vh;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.profile-field {
    display: block;
    margin-top: 2vh;
    opacity: 0.7;
}
