{% extends "internal/base.html" %}
{% load static %}
{% load i18n %}

{% block header_name %}
    <div class="header-name">{% trans "STATISTICS" %}</div>
    <div class="header-desc">{% trans "Go over statistics to analyze a quality of your classes." %}</div>
{% endblock %}

{% block content %}
    <div class="menu">
        <a href="{% url 'statistics-commented' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/commented_feedback_stat.png' %}">
            </div>
            <div class="text-button">{% trans "Commented feedback" %}</div>
        </a>

        <a href="{% url 'statistics-estimated' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/estimated_feedback_stat.png' %}">
            </div>
            <div class="text-button">{% trans "Estimated feedback" %}</div>
        </a>
    </div>
{% endblock %}
