{% extends "internal/base.html" %}
{% load static %}
{% load i18n %}

{% block css_js %}
    <link rel="stylesheet" href="{% static 'css/internal/feedback/create.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock %}

{% block header_name %}
    <div class="header-name">{% trans "Create a feedback" %}</div>
{% endblock %}

{% block content %}
    <div class="messages">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
        {% if form.chat_name.errors %}
            {% for error in form.chat_name.errors %}
                <p>{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-wrapper">
        <div class="form-container">
            <form enctype="multipart/form-data" action="{% url 'feedback-create' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
    
                <div>
                    <button type="submit" class="form-btn">{% trans "Create" %}</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // datapicker widjet
        $(function () {
            $('[data-toggle="datepicker"]').datepicker({
                format:'yyyy-mm-dd',
            });
        });
    </script>
{% endblock %}
