{% extends "internal/base.html" %}
{% load static %}

{% block css_js %}
    <link rel="stylesheet" href="{% static 'css/internal/feedback/forms.css' %}">
{% endblock %}

{% block header_name %}
    <div class="header-name">Create feedback</div>
{% endblock %}

{% block messages %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error|escape }}</p>
        {% endfor %}
    {% endif %}

    {% if form.group_name.errors %}
        {% for error in form.group_name.errors %}
            <p>{{ error|escape }}</p>
        {% endfor %}
    {% endif %}

    {% if form.telegram_channel.errors %}
        {% for error in form.telegram_channel.errors %}
            <p>{{ error|escape }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <form enctype="multipart/form-data" action="{% url 'feedback-create' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field }}
                </div>
            {% endfor %}

            <div>
                <button type="submit" class="form-btn">Create</button>
            </div>
        </form>
    </div>
{% endblock %}
