{% extends "internal/base.html" %}
{% load static %}

{% block header_name %}
    <div id="status" style="text-align: center; margin-top: 3vh; color: rgb(143, 6, 197);"></div>
    <div class="header-name">{{ title }}</div>
    <div class="header-desc">
        <input type="text" id="header" style="text-align: center; width: 50%;" value='{{ url }}'/>
    </div>
    {% endblock %}
    
    {% block content %}
    <div class="form-wrapper">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <button id="btn-send" class="form-btn">Send</button>
        </form>
        <button id="btn-copy" class="form-btn copy-btn" style="margin-right: 10px;">Copy</button>
    </div>
    
    <script>
        document.getElementById("btn-copy").addEventListener('click', function(e){
            e.preventDefault();
            var copyText = document.getElementById("header");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");
            header = document.getElementById('status')
            header.innerHTML = "Copied";
        }, false);

        // handler of Send button
        document.getElementById("btn-send").addEventListener('click',function(e){
            e.preventDefault();

            const data = {
                url: '{{ url }}',
            };

            fetch('{% url "api-bot_send" %}', {
                method:'POST',
                headers:{
                    'Content-Type':'application/json', 
                    'X-CSRFToken':'{{ csrf_token }}',
                    'X-Requested-With':'XMLHttpRequest'
                },
                body: JSON.stringify(data),
                mode:'cors',
                cache:'default',
                credentials:'include'      
            }).then((response) => response.json())
            .then((result) => {
                header = document.getElementById('status')
                header.innerHTML = result['message'];
            })
            .catch((err) => {
                header = document.getElementById('status')
                header.innerHTML = "Error. Try Later...";
                console.log('error:', err)
            })
        }, false);
    </script>
{% endblock %}
