{% extends "internal/base.html" %}
{% load static %}
{% load i18n %}

{% block css_js %}
    <link rel="stylesheet" href="{% static 'css/internal/feedback/generated_link.css' %}">
{% endblock %}

{% block header_name %}
    <div id="status"></div>
    <div class="header-name">{% trans "Generated link" %}</div>
    <div class="header-desc">
        <input type="text" id="header" value='{{ url }}'/>
    </div>
    {% endblock %}
    
    {% block content %}
    <div class="form-wrapper">
        <div class="form-container">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="info">{% trans "It will be sent to channel" %} {{ chat_name }}</div>
                <textarea id="text" name="comment" rows="4" placeholder="{% trans 'Write a comment...' %}"></textarea>
                <button id="btn-send" class="form-btn">{% trans "Send" %}</button>
                <button id="btn-copy" class="form-btn">{% trans "Copy a link" %}</button>
            </form>
        </div>
    </div>
    
    <script>
        // handler of Copy button
        document.getElementById("btn-copy").addEventListener('click', function(e){
            e.preventDefault();
            var copyText = document.getElementById("header");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");
            header = document.getElementById('status')
            header.innerHTML = '{% trans "Copied" %}';
        }, false);

        // handler of Send button
        document.getElementById("btn-send").addEventListener('click',function(e){
            e.preventDefault();

            const data = {
                message: document.getElementById('text').value,
                url: '{{ url }}',
                chat_name: '{{ chat_name }}',
            };

            fetch('{% url "api-bot_send" %}', {
                method:'POST',
                headers:{
                    'Content-Type':'application/json', 
                    'X-CSRFToken':'{{ csrf_token }}',
                    'X-Requested-With':'XMLHttpRequest'
                },
                body: JSON.stringify(data),
                mode:'cors',
                cache:'default',
                credentials:'include'      
            }).then((response) => response.json())
            .then((result) => {
                header = document.getElementById('status')
                header.innerHTML = result['message'];
            })
            .catch((err) => {
                header = document.getElementById('status')
                header.innerHTML = result['message'];
            })
        }, false);
    </script>
{% endblock %}
