{% extends "base_ext.html" %}
{% load static %}

{% block header_name %}
    <div class="header-name">Group: {{ group_name }}</div>
    <div class="header-desc">Subject: {{ subject }}</div>
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <form enctype="multipart/form-data" action="{% url 'getting_commented_feedback' hash_url %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="form-btn">Send</button>
    </form>
</div>
{% endblock %}