{% extends "base.html" %}
{% load static %}

{% block header_name %}
    <div class="header-name">Students and Professors Service</div>
    <div class="header-desc">feedback system for improving and analyzing of education process at university</div>
{% endblock %}

{% block content %}

    <div class="home-menu">
        <a href="{% url 'create_feedback_rating' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/feedback_star_rating.png' %}">
            </div>
            <div class="text-button">Rating feedback</div>
        </a>

        <a href="{% url 'create_feedback_comment' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/feedback_text.png' %}">
            </div>
            <div class="text-button">Comment feedback</div>
        </a>

        <a href="{% url 'create_quiz' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/feedback_quiz.png' %}">
            </div>
            <div class="text-button">Quiz</div>
        </a>
    </div>

{% endblock %}