{% extends "internal/base.html" %}
{% load static %}
{% load i18n %}

{% block css_js %}
	<link rel="stylesheet" href="{% static 'css/internal/root/help.css' %}">
{% endblock %}

{% block header_name %}
    <div class="header-name">{% trans "Help" %}</div>
    <div class="header-desc">{% trans "How to use?" %}</div>
{% endblock %}

{% block content %}
	<div class="help-wrapper">
		<div>
			<p style="text-align: center; font-size: 3vh;">{% trans "Concept of using this service is very simple!" %}</p><br><br>
		</div>

		<button type="button" class="collapsible">{% trans "How to create a feedback page after class?" %}</button>
		<div class="content">
			<p>
				{% trans "1. First of all, you have to create telegram channel for your group and add student to it" %}.<br>
				{% trans "Then, copy @channel_name." %}" <br><br>
				<div class="help-img-wrapper">
					<img class="help-img-samples" src="{% static 'src/help/create_tg_channel.jpg' %}">
				</div> <br><br>
				{% trans "2. Open <b>Home</b> page and click on the button «Create a feedback»" %}.<br><br>
				{% trans "3. Fill the form and press a button «Create». Pay attention to the last field of form <u><i>Telegram channel</i></u>" %}.
				{% trans "You have to paste a channel name in format @channel_name." %}<br><br>
				{% trans "4. After the link is generated you can copy it or send it to the telegram channel" %}.<br><br>
			</p>
		</div>
		
		<button type="button" class="collapsible">{% trans "How to check feedback statistic?" %}</button>
		<div class="content">
			<p>
				{% trans "1. Go <b>Home</b> -> <b>Statistics</b> and then you get 2 buttons: <u><i>Commented feedback</i></u> and <u><i>Estimated feedback" %}.</i></u><br><br>
				{% trans "2. Choose a feedback type you want to see" %}.<br><br>
				{% trans "3. Fill the form to request data" %}.<br>
			</p>
		</div>
		
		<button type="button" class="collapsible">{% trans "How to edit a prodile?" %}</button>
		<div class="content">
			<p>
				{% trans "1. Go <b>Profile</b> -> <b>Edit Profile" %}.</b><br><br>
				{% trans "2. Fill the form to change your personal data" %}.<br><br>
			</p>
		</div>
	</div>
{% endblock %}

{% block js_postload %}
	<script src="{% static 'js/internal/root/help.js' %}"></script>
{% endblock %}
