{% extends "internal/base.html" %}
{% load static %}

{% block css_js %}
	<link rel="stylesheet" href="{% static 'css/internal/root/help.css' %}">
{% endblock %}

{% block header_name %}
    <div class="header-name">Help</div>
    <div class="header-desc">How to use?</div>
{% endblock %}

{% block content %}
	<div class="help-wrapper">
		<div>
			<p style="text-align: center; font-size: 3vh;">Concept of using this service is very simple!</p><br><br>
				<div class="help-img-wrapper" style="width: 80%;">
					<img src="{% static 'src/help/flow.png' %}" class="help-img-samples">
				</div> <br><br>
		</div>

		<button type="button" class="collapsible">How to create a feedback page after class?</button>
		<div class="content">
			<p>
				1. First of all, you have to create telegram channel for your group and add student to it. <br>
				Then, copy @channel_name. <br><br>
				<div class="help-img-wrapper">
					<img src="{% static 'src/help/create_tg_channel.jpg' %}" class="help-img-samples">
				</div> <br><br>
				2. Open <b>Home</b> page and choose an appropriate type of feedback. <br><br>
				3. Fill the form and press a button «Generate a link». Pay attention to the last field of form <u><i>Telegram channel</i></u>. 
				You have to paste a channel name in format @channel_name. <br><br>
				<div class="help-img-wrapper">
					<img src="{% static 'src/help/create_feedback_form.png' %}" class="help-img-samples">
				</div> <br><br>
				4. After the link is generated you can copy it or send it to the telegram channel.<br><br>
				<div class="help-img-wrapper">
					<img src="{% static 'src/help/generated_link.png' %}" class="help-img-samples">
				</div> <br><br>
			</p>
		</div>
		
		<button type="button" class="collapsible">How to check feedback statistic?</button>
		<div class="content">
			<p>
				1. Go <b>Profile</b> -> <b>Statistics</b> and then you get 2 buttons: <u><i>Commented feedback</i></u> and <u><i>Estimated feedback</i></u><br><br>
				2. Choose a feedback type you want to see and fill the form to get statistics<br><br>
				3. Fill the form to request data:<br>
				<div class="help-img-wrapper">
					<img src="{% static 'src/help/statistics.png' %}" class="help-img-samples">
				</div> <br><br>
			</p>
		</div>
		
		<button type="button" class="collapsible">How to edit a prodile?</button>
		<div class="content">
			<p>
				1. Go <b>Profile</b> -> <b>Edit Prodile</b><br><br>
				2. Fill the form to change your personal data.<br><br>
				<div class="help-img-wrapper">
					<img src="{% static 'src/help/profile.png' %}" class="help-img-samples">
				</div> <br><br>
			</p>
		</div>
	</div>
{% endblock %}

{% block js_postload %}
	<script src="{% static 'js/internal/root/help.js' %}"></script>
{% endblock %}
