{% extends "internal/base.html" %}
{% load static %}

{% block header_name %}
    <div class="header-name">STUDENTS & PROFESSORS</div>
    <div class="header-desc">feedback system for improving and analyzing of education process at university</div>
{% endblock %}

{% block content %}
    <div class="menu">
        <a href="{% url 'feedback-create_commented_feedback' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/commented_feedback.png' %}">
            </div>
            <div class="text-button">Commented feedback</div>
        </a>

        <a href="{% url 'feedback-create_estimated_feedback' %}">
            <div class="image-button-wrapper">
                <img class="image-button" src="{% static 'src/estimated_feedback.png' %}">
            </div>
            <div class="text-button">Estimated feedback</div>
        </a>
    </div>
{% endblock %}